
body { font:1em/1.625em "lucida grande","lucida sans unicode", sans-serif; background-color:#fafafa;  
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:normal;
}

p { padding:0 0  0.8125em 0; color:#111; font-weight:300; line-height: 1.8; }

/*p + p { text-indent:1.625em;}*/

/*p.first:first-letter{ float:left;font-family: baskerville,"palatino linotype",serif;font-size:3em;font-weight:700;line-height:1em;margin-bottom:-0.2em;padding:0.2em 0.1em 0 0; }*/


h1,h2{ font-weight:normal; color: #333; font-family:Georgia, serif;  }
h3,h4,h5,h6 { font-weight: normal; color: #333; font-family:Georgia, serif; }


h1 { font-size: 2.125em; margin-bottom: 0.765em; }
h2 { font-size: 1.9em;  margin-bottom: 0.855em; }
h3 { font-size: 1.7em;  margin-bottom: 0.956em; }
h4 { font-size: 1.4em;  margin-bottom: 1.161em; }
h5,h6 { font-size: 1.313em;  margin-bottom: 1.238em; }



ul{list-style-position:outside;}
li ul, 
li ol  { margin:0 1.625em;  }
ul, ol { margin: 0 0 1.625em 0; }


dl { margin: 0 0 1.625em 0; }
dl dt { font-weight: bold; }
dl dd { margin-left: 1.625em; }

a { color:#005AF2; text-decoration:none; }
a:hover { text-decoration: underline; }


table { margin-bottom:1.625em; border-collapse: collapse; }
th { font-weight:bold; }
tr,th,td { margin:0; padding:0 1.625em 0 1em; height:26px; }
tfoot { font-style: italic; }
caption { text-align:center; font-family:Georgia, serif; }


abbr, acronym { border-bottom:1px dotted #000; }
address { margin-top:1.625em; font-style: italic; }
del {color:#000;}


blockquote { padding:1em 1em 1.625em 1em; font-family:georgia,serif;font-style: italic;  }
blockquote:before { content:"\201C";font-size:3em;margin-left:-.625em; font-family:georgia,serif;color:#aaa;line-height:0;}/* From Tripoli  */
blockquote > p {padding:0; margin:0; }

strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
pre, code { margin: 1.625em 0; white-space: pre; }
pre, code, tt { font: 1em monospace; line-height: 1.5; } 
tt { display: block; margin: 1.625em 0; }
hr { margin-bottom:1.625em; }



.oldbook { font-family:"Warnock Pro","Goudy Old Style","Book Antiqua","Palatino",Georgia,serif; }
.note { font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-size:0.9em; margin:0.1em; color:#333; } 
.mono { font-family:"Courier New", Courier, monospace; }

.main {  margin:0 auto;  width:600px; margin-top: 50px;  }
.title { font-weight: bold; font-size: 20px; text-align:center; font-family:"ms song","Microsoft Yahei",SimHei,Verdana,Helvetica,SimSun,Arial,"Arial Unicode MS",MingLiu,PMingLiu,"MS Gothic",sans-serief; line-height: 1.5em; margin-top: 20px; margin-bottom: 20px}

#navbar { position: fixed; top: 0; right: 0; left: 0; z-index: 1000;
  color: #555; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25); box-shadow: 0 2px 3px rgba(0,0,0,.25);
}

#navbar #left {float:left;}
#navbar #right {float: right; width: 210px;}
#navbar #center {text-align: center;}

#rightpanel {position: fixed; top:200; left:982px; display: block; z-index:1000; height: 300px; width: 100px; margin:0 auto;  }
