
<div id="navbar">
  <div id="left">
    <a href="http://didaread.com">Home</a>
  </div>
  <div id="center">
    Search Box
  </div>

  <div id="right">
  </div>

</div>

<div id="rightpanel">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_counter"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f613a6d7da22780"></script>
<!-- AddThis Button END -->
</div>

<div class="main">

<div class="title"><%= link_to @cont.title, @cont.link %></div>

<p id="notice"><%= notice %></p>

<%= @cont.content.html_safe %>

</div>


