<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= @cont.title if @cont %> DidaRead</title>
  <link rel="stylesheet" href="/CSS/reset.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/CSS/typography.css" type="text/css" media="screen, projection">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
